In [27]:
import sqlite3
from google.colab import files

# Conecta a una base de datos SQLite (o crea una nueva si no existe)
conexion = sqlite3.connect('tu_base_de_datos.db')

# Borra la tabla si ya existe
cursor = conexion.cursor()
cursor.execute('DROP TABLE IF EXISTS tu_tabla')
conexion.commit()

# Crea una nueva tabla
cursor.execute('''
    CREATE TABLE tu_tabla (
        word TEXT,
        url_id INTEGER
    )
''')
conexion.commit()

# Sube tu archivo .txt a Colab (asegúrate de haberlo cargado previamente)
# Selecciona el archivo desde tu sistema local
#uploaded = files.upload()

with open('ejemplo1.txt', 'r') as f:
    lines = f.readlines()

# Itera a través de las líneas del archivo y procesa los datos
for line in lines:

    partes = line.strip().split('\t')
    word = partes[0]
    content = partes[1]

    links = content.split()

    # Inserta los datos en la tabla SQLite
    cursor = conexion.cursor()
    for link in links:
        url_id, value = link.split(':')
        sql = "INSERT INTO tu_tabla (word, url_id) VALUES (?, ?)"
        val = (word, url_id)
        cursor.execute(sql, val)

    # Guarda los cambios en la base de datos
    conexion.commit()

# Cierra la conexión a la base de datos SQLite
conexion.close()

In [28]:
import sqlite3
import pandas as pd

# Conecta a la base de datos SQLite
conexion = sqlite3.connect('tu_base_de_datos.db')

# Ejecuta una consulta SQL para seleccionar los datos de la tabla
consulta = "SELECT * FROM tu_tabla"

# Utiliza pandas para cargar los datos en un DataFrame
df = pd.read_sql_query(consulta, conexion)

# Cierra la conexión a la base de datos SQLite
conexion.close()

# Ahora, df contiene los datos en un DataFrame de Pandas
# Puedes trabajar con los datos de la tabla utilizando pandas
print(df)

    word  url_id
0  mundo    2019
1  mundo    2020
2    gol    2017
3    gol    2018

# MYSQL

In [ ]:
import mysql.connector

# Conecta a la base de datos MySQL local
conexion = mysql.connector.connect(
    host='localhost',
    user='tu_usuario',
    password='tu_contraseña',
    database='tu_base_de_datos'
)

# Borra la tabla si ya existe
cursor = conexion.cursor()
cursor.execute('DROP TABLE IF EXISTS tu_tabla')

# Crea una nueva tabla
cursor.execute('''
    CREATE TABLE IF NOT EXISTS tu_tabla (
        word TEXT,
        url_id INTEGER
    )
''')

# Sube tu archivo .txt (asegúrate de que el archivo "ejemplo1.txt" esté en el mismo directorio)
with open('ejemplo1.txt', 'r') as f:
    lines = f.readlines()

# Itera a través de las líneas del archivo y procesa los datos
for line in lines:
    partes = line.strip().split('\t')
    word = partes[0]
    content = partes[1]
    links = content.split()

    # Inserta los datos en la tabla MySQL local
    cursor = conexion.cursor()
    for link in links:
        url_id, value = link.split(':')
        sql = "INSERT INTO tu_tabla (word, url_id) VALUES (%s, %s)"
        val = (word, int(url_id))
        cursor.execute(sql, val)

# Guarda los cambios en la base de datos
conexion.commit()

# Cierra la conexión a la base de datos MySQL
conexion.close()

In [ ]:
import mysql.connector
import pandas as pd

# Conecta a la base de datos MySQL
conexion = mysql.connector.connect(
    host='tu_host',
    user='tu_usuario',
    password='tu_contraseña',
    database='tu_base_de_datos'
)

# Ejecuta una consulta SQL para seleccionar los datos de la tabla
consulta = "SELECT * FROM tu_tabla"

# Utiliza pandas para cargar los datos en un DataFrame
df = pd.read_sql_query(consulta, conexion)

# Cierra la conexión a la base de datos MySQL
conexion.close()

# Ahora, df contiene los datos en un DataFrame de Pandas
# Puedes trabajar con los datos de la tabla utilizando pandas
print(df)